<!DOCTYPE HTML>
<html>
  <head>
    <title>Agregar Cursos</title>
    <meta charset="UTF-8"/>
    <meta name="author" content="Victor Gonzalo Maldonado Vilca"/>
    <meta name="description" content="Agregar cursos universitarios"/>
    <meta name="keywords" content="cursos, agregar, universidad"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div>
      <h1>Agregar Cursos</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
      </form>
      <a href="{% url 'agregar_alumno' %}">Lista de Alumnos</a>
      <a href="#">Lista de Cursos</a>
      <a href="{% url 'agregar_nota' %}">Notas de los Alumnos</a>
    </div>
    <div>
      <h1>Lista de Cursos</h1>
      <ul>
        {% for curso in cursos %}
          <li>{{ curso.codigo }} : {{ curso.nombre }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>